#deck-list-and-recently-played-container{
  display:flex;
  justify-content:space-around;
  margin: 25px 0 10px 0;
}

#deck-list-container{
  display:flex;
  flex-direction:column;
  justify-content:space-between;
  background-color:white;
  border-radius:10px;
  padding: 10px 10px 30px 10px;
  width: 20%;
  border: 2px solid black;
  box-shadow: 2px 2px 4px $black;
  transition-duration: .3s;
}

#deck-list-container:hover{

}

#recently-played-container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 30px;
  margin-left: 20px;
  height:60vh;
  width: 90%;
}

.deck-link{
  display:inline-block;
  text-decoration: none;
  color:black;
  transition: .2s;
}

.deck-link:hover{
  text-decoration: none;
  color:black;
}

#daily-usage{
  margin-top: 20px;
  background-color:white;
  border-radius: 10px;
  padding:20px;
  border: 2px solid black;
  box-shadow: 2px 2px 4px $black;
  transition-duration: .3s;
  display:inline-block;
  width:100%;
  margin-bottom: 0px;
  background:url("https://res.cloudinary.com/flashcard/image/upload/v1614869198/Landing-page%20background%20and%20logo/card-background-orange.png");
}

#daily-usage > h5{
  font-size: 12px;
  font-weight: bold;
  text-decoration:underline;
}

#daily-usage > h7{
  font-size: 12px;
}

.recently-played-card{
  background:url("https://res.cloudinary.com/flashcard/image/upload/v1614869198/Landing-page%20background%20and%20logo/card-background-blue.png");
  background-position: center;
  background-size: cover;
  color:black;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid black;
  box-shadow: 2px 2px 4px $black;
  transition: .2s;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
}


.recently-played-card a{
  text-decoration:none;
  color:black;
  font-family: 'Dancing Script', cursive;
}

.recently-played-card:hover{
  text-decoration:none;
  color:black;
  border: 2px solid black;
  transform: scale(1.07) rotate(4deg);
  box-shadow: 4px 4px 8px black;
}


.card-count{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

#create-new-deck-button{
  margin: 15px 50px 20px 0;
  border-radius: 10px;
  border:2px solid black;
  font-size: 20px;
  transition: .2s;
  text-align: center;
  color: black;
  background: url("https://res.cloudinary.com/flashcard/image/upload/v1614869197/Landing-page%20background%20and%20logo/card-background-green.png");
}

#create-new-deck-button:hover{
  transform: scale(1.1);
  background-color: white;
  color:black;
}

#find-new-deck-button{
  background: url("https://res.cloudinary.com/flashcard/image/upload/v1614869197/Landing-page%20background%20and%20logo/card-background-green.png");
  margin-top: 15px;
  border-radius: 10px;
  border:2px solid black;
  font-size: 20px;
  transition: .2s;
  margin-bottom: 20px;
  text-align: center;
  color: black;
}

#find-new-deck-button:hover{
  transform: scale(1.1);
  background-color: white;
  color:black;
}

.dashboard-buttons-container{
  display:flex;
  justify-content:center;
}

#deck-list-header{
  text-align:center;

}

#index-user-cards{
  margin: 15px 50px 20px 0;
  border-radius: 10px;
  background: url("https://res.cloudinary.com/flashcard/image/upload/v1614869197/Landing-page%20background%20and%20logo/card-background-green.png");
  border:2px solid black;
  font-size: 20px;
  transition: .2s;
  text-align: center;
  color: black;
}

#index-user-cards:hover{
  transform: scale(1.1);
  background-color: white;
  color:black;
}

.deck-button{
  background: url("https://res.cloudinary.com/flashcard/image/upload/v1614869201/Landing-page%20background%20and%20logo/card-background-orange.png");
  border: 2px solid black;
  display:inline-block;
  border-radius: 10px;
  margin-top: 10px;
  transition: .3s;
}

.deck-button:hover{
  transform: scale(1.1);
  border: 2px solid black;
}

#most-popular-decks-header{
  margin-left: 20%;
}

#dash-card-header{

}

.user-name{
  font-family: 'Dancing Script', cursive;
  margin-right: 10px;
  margin-bottom:0;
}

.cards-details-box{
  background-color: white;
  border: 1px solid black;
  display:flex;
  justify-content: center;
  border-radius: 6px;
  margin: 5px auto;
  text-align: center;
  padding: 8px;
  width: fit-content;
  background: url("https://res.cloudinary.com/flashcard/image/upload/v1614869201/Landing-page%20background%20and%20logo/card-background-yellow.png");
}

.used-count{
  margin-bottom: 0
}

.studied-count{
  margin-bottom: 0;
}

.card-avatar-div{
  height: 35px;
  display: flex;
  justify-content:center;
  align-items: center;
}

.card-avatar{
  height: 100%;
  width: 35px;
  border-radius: 50%;
  border: 2px solid black;
}

.name-and-avatar{
  display: flex;
  justify-content: center;
  align-items:center;
}

.card-title-and-subtitle{
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items:center;
}

#dash-card-subtitle{
    font-family: 'Dancing Script', cursive;
    opacity: 50%;
}
