#deck-list-and-recently-played-container{
  display:flex;
  justify-content:space-around;
  margin-top:10px;
}

#deck-list-container{
  display:grid;
  background-color: lightgrey;
  border-radius:5px;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-right: 10px;
  padding-left: 10px;
  width: 20%;

}

#recently-played-container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-left: 20px;
}

.deck-link{
  display:inline-block;
  text-decoration: none;
  color:black;
  transition: .2s;
}

.deck-link:hover{
  text-decoration: none;
  color:black;
  transform: scale(1.4);
}

#daily-usage{
  margin-top: 20px;
  background-color: lightgrey;
  border-radius: 10px;
  padding:20px;
}

.recently-played-card{
  background-color: white;
  color:grey;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid white;
  transition: .2s;
  border: 2px solid black;
  box-shadow: 2px 2px 4px black;
  transition: .2s;
}


.recently-played-card a{
  text-decoration:none;
  color:black;
}

.recently-played-card:hover{
  text-decoration:none;
  color:black;
  border: 2px solid black;
  transform: scale(1.2) rotate(7deg);
  box-shadow: 4px 4px 8px black;
}

.details-box{
  border:1px solid black;
  padding: 5px;
  border-radius: 5px;

}



.card-count{

}

#create-new-deck-button{
  margin-top: 15px;
  border-radius: 10px;
  background-color:lightgrey;
  border:2px solid black;
  font-size: 20px;
  transition: .2s;
  margin-bottom: 20px;
  text-align: center;
  margin-right: 50px;
}

#create-new-deck-button:hover{
  transform: scale(1.1);
  background-color: darkgrey;
  color:black;
}

#find-new-deck-button{
  margin-top: 15px;
  border-radius: 10px;
  background-color:lightgrey;
  border:2px solid black;
  font-size: 20px;
  transition: .2s;
  margin-bottom: 20px;
  text-align: center;
}

#find-new-deck-button:hover{
  transform: scale(1.1);
  background-color: darkgrey;
  color:black;
}

.dashboard-buttons-container{
  display:flex;
  justify-content:center;
}

#deck-list-header{
  text-align:center;

}
