#deck-list-and-recently-played-container{
  display:flex;
}

#deck-list-container{
  display:grid;

}

#recently-played-container{
  display:grid;
}

#daily-usage{

}

.recently-played-card{

}

.details-box{

}

.progress{

}

.card-count{

}

#create-new-deck-button{
  margin-top: 15px;
  border-radius: 10px;
}
