#deck-list-and-recently-played-container{
  display:flex;
  justify-content:space-around;
  margin-top:10px;
  margin-bottom: 30px;
}

#deck-list-container{
  display:flex;
  flex-direction:column;
  justify-content:flex-start;
  background-color:white;
  border-radius:10px;
  padding-top: 10px;
  padding-bottom: 30px;
  padding-right: 10px;
  padding-left: 10px;
  width: 20%;
  border: 2px solid black;
  box-shadow: 2px 2px 4px $black;
  transition-duration: .3s;
}

#deck-list-container:hover{

}

#recently-played-container{
  display:grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  margin-left: 20px;
  height:60vh;
  width: 90%;
}

.deck-link{
  display:inline-block;
  text-decoration: none;
  color:black;
  transition: .2s;
}

.deck-link:hover{
  text-decoration: none;
  color:black;
}

#daily-usage{
  margin-top: 20px;
  background-color:white;
  border-radius: 10px;
  padding:20px;
  border: 2px solid black;
  box-shadow: 2px 2px 4px $black;
  transition-duration: .3s;
  display:inline-block;
  margin-left: 36%;
}

#daily-usage:hover{
}

.recently-played-card{
  background:url("https://res.cloudinary.com/flashcard/image/upload/v1614869198/Landing-page%20background%20and%20logo/card-background-blue.png");
  background-position: center;
  background-size: cover;
  color:black;
  border-radius: 10px;
  padding: 10px;
  border: 2px solid $our_pink;
  transition: .2s;
  border: 2px solid black;
  box-shadow: 2px 2px 4px $black;
  transition: .2s;
}


.recently-played-card a{
  text-decoration:none;
  color:black;
}

.recently-played-card:hover{
  text-decoration:none;
  color:black;
  border: 2px solid black;
  transform: scale(1.1) rotate(7deg);
  box-shadow: 4px 4px 8px black;
}

.details-box{
  border:1px solid black;
  padding: 5px;
  border-radius: 5px;
  background-color:white;
}



.card-count{

}

#create-new-deck-button{
  margin-top: 15px;
  border-radius: 10px;
  border:2px solid black;
  font-size: 20px;
  transition: .2s;
  margin-bottom: 20px;
  text-align: center;
  margin-right: 50px;
  color: black;
  background: url("https://res.cloudinary.com/flashcard/image/upload/v1614869197/Landing-page%20background%20and%20logo/card-background-green.png");
}

#create-new-deck-button:hover{
  transform: scale(1.1);
  background-color: white;
  color:black;
}

#find-new-deck-button{
  background: url("https://res.cloudinary.com/flashcard/image/upload/v1614869197/Landing-page%20background%20and%20logo/card-background-green.png");
  margin-top: 15px;
  border-radius: 10px;
  border:2px solid black;
  font-size: 20px;
  transition: .2s;
  margin-bottom: 20px;
  text-align: center;
  color: black;
}

#find-new-deck-button:hover{
  transform: scale(1.1);
  background-color: white;
  color:black;
}

.dashboard-buttons-container{
  display:flex;
  justify-content:center;
}

#deck-list-header{
  text-align:center;

}

#index-user-cards{
  margin-top: 15px;
  border-radius: 10px;
  background: url("https://res.cloudinary.com/flashcard/image/upload/v1614869197/Landing-page%20background%20and%20logo/card-background-green.png");
  border:2px solid black;
  font-size: 20px;
  transition: .2s;
  margin-bottom: 20px;
  text-align: center;
  margin-right: 50px;
  color: black;
}

#index-user-cards:hover{
  transform: scale(1.1);
  background-color: white;
  color:black;
}

.deck-button{
  background: url("https://res.cloudinary.com/flashcard/image/upload/v1614869201/Landing-page%20background%20and%20logo/card-background-orange.png");
  border: 2px solid black;
  display:inline-block;
  border-radius: 10px;
  margin-top: 10px;
  transition: .3s;
}

.deck-button:hover{
  transform: scale(1.1);
  border: 2px solid black;
}

#most-popular-decks-header{
  margin-left: 20%;
}
