#overivew-header{
  padding:0px;
  margin-top: 20px;
}

.card-overview{
  background-color: white;
  border-radius: 5px;
  color: black;
  border: 2px solid black;
  margin-top: 15px;
  text-align: center;
  transition: .3s;
}

.card-overview:hover{
  transform: scale(1.1);
}


#back-to-dash-button{
  margin-top: 10px;
}

#cards-container{
  background-color: lightgrey;
  padding: 10px;
  border-radius: 10px;
}

.buttons-container{
  display:flex;
  justify-content: space-between;
  background-color: lightgrey;
  padding:20px;
  border-radius:5px;
  margin-bottom: 20px;
}

.buttons-container > a{
  text-decoration: none;
  color:black;
  border-radius: 5px;
  border: 2px solid lightgrey;
  transition: .2s;
}

.buttons-container > a:hover{
  transform: scale(1.1)
}

#back-to-dash-button{
  background-color: lightgrey;
  border: 1px solid black;
  color:black;
  border-radius: 10px;
  margin-top: 20px;
}

.reveal{
  display:show;
}












