#overivew-header{
  padding:0px;
  margin-top: 20px;
}

.new-deck-fucntion-row {
  background-color: lightgrey;
  border-radius: 10px;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

#new-deck-function-row-middle {
  background-color: lightgrey;
  border-radius: 10px;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

.new-deck-function-breaks {

}

.buttons-container > a {
  background: url("card-background-green.png");
}

.card-overview{
  background: url("https://res.cloudinary.com/flashcard/image/upload/v1614869198/Landing-page%20background%20and%20logo/card-background-blue.png");
  border-radius: 5px;
  color: black;
  border: 2px solid black;
  margin-top: 13px;
  transition: 0.3s;
  padding: 3px;
  font-size: 19px;
  padding-left: 15px;
}

.card-overview:hover{
  transform: scale(1.05);
}

#cards-container{
  padding: 10px;
  border-radius: 10px;
  background:url("https://res.cloudinary.com/flashcard/image/upload/v1614869201/Landing-page%20background%20and%20logo/card-background-orange.png");
}

.buttons-container{
  display:flex;
  justify-content: space-around;
  align-items:center;
  background:url("https://res.cloudinary.com/flashcard/image/upload/v1614869198/Landing-page%20background%20and%20logo/card-background-blue.png");
  padding:10px;
  border-radius:5px;
  margin-bottom: 10px;
  height:80px;
}

.buttons-container > a{
 color:grey;
 text-decoration: none;
 border-radius: 5px;
 border: 2px solid black;
 transition: .3s;
 background-color:white;
 padding-right:10px;
 padding-left:10px;
 display:inline-block;
 height:50%;
 display:flex;
 align-items:center;
 color:black;

}

.buttons-container > a:hover{
  transform: scale(1.1)
}

#deck-show-study-deck-button{
    background:url("https://res.cloudinary.com/flashcard/image/upload/v1614869198/Landing-page%20background%20and%20logo/card-background-green.png");
    height: 100%;
    padding-left:10px;
    padding-right:10px;
    font-size: 22px;

}

#deck-show-delete-deck-button{
  background:url("https://res.cloudinary.com/flashcard/image/upload/v1614869198/Landing-page%20background%20and%20logo/card-background.png");
}

#cards-show-header{
  margin-top: 20px;
  margin-bottom: 10px;
}


