#overivew-header{
  padding:0px;
  margin-top: 20px;
}

.new-deck-fucntion-row {
  background-color: lightgrey;
  border-radius: 10px;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

#new-deck-function-row-middle {
  background-color: lightgrey;
  border-radius: 10px;
  padding-top: 5px;
  padding-right: 5px;
  padding-left: 5px;
}

.new-deck-function-breaks {

}

.card-overview{
  background-color: white;
  border-radius: 5px;
  color: black;
  border: 2px solid black;
  margin-top: 5px;
  transition: 0.3s;
}

.card-overview:hover{
  transform: scale(1.1);
}


.back-to-dash-button{
  margin-top: 10px;
  background-color: lightgrey;
  border: 1px solid black;
  color:black;
  border-radius: 5px;
  margin-top: 15px;
  background:url("https://res.cloudinary.com/flashcard/image/upload/v1614869197/Landing-page%20background%20and%20logo/card-background-green.png");
}

#cards-container{
  background-color: lightgrey;
  padding: 10px;
  border-radius: 10px;
  background:url("https://res.cloudinary.com/flashcard/image/upload/v1614869201/Landing-page%20background%20and%20logo/card-background-orange.png");
}

.buttons-container{
  display:flex;
  justify-content: space-between;
  background:url("https://res.cloudinary.com/flashcard/image/upload/v1614869198/Landing-page%20background%20and%20logo/card-background-blue.png");
  padding:10px;
  border-radius:5px;
  margin-bottom: 10px;
}

.buttons-container > a{
 color:grey;
 text-decoration: none;
 border-radius: 5px;
 border: 2px solid black;
 transition: .3s;
 background-color:white;
 padding-right:10px;
 padding-left:10px;
 display:inline-block;;
}

.buttons-container > a:hover{
  transform: scale(1.1)
}
