.edit-deck-back-button{
  color:black;
  background: url("https://res.cloudinary.com/flashcard/image/upload/v1614869197/Landing-page%20background%20and%20logo/card-background-green.png");
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition-duration: .3s;
}

.edit-deck-back-button:hover{
  transform: scale(1.1);
  background-color: white;
}

.edit_deck_category {
  .form-group {
    margin-top: 15px;
    margin-left: 0px;
  }
  #deck_name {
    margin-left: 15px;
    width: 100%;
  }
}

.edit_deck_category {
  .deck_name{
    padding-right: 30px;
  }
}


#hidden_button_edit{
  border-radius: 10px;
  background: url("https://res.cloudinary.com/flashcard/image/upload/v1614869197/Landing-page%20background%20and%20logo/card-background-green.png");
  border:none;
  padding:10px;
  margin: 20px;
}

#hidden_button_edit:hover, .update-btn > input:hover {
  transform: scale(1.1);
}

.update-btn > input {
  background: url("https://res.cloudinary.com/flashcard/image/upload/v1614869197/Landing-page%20background%20and%20logo/card-background-blue.png");
  border:none;
  padding:10px;
  margin: 20px;
  border-radius: 10px;
}

#hidden_button_edit:hover, #add-card-btn > input:hover {
  transform: scale(1.1);
}

#add-card-btn > input {
  background:url("https://res.cloudinary.com/flashcard/image/upload/v1614869201/Landing-page%20background%20and%20logo/card-background-orange.png");
  border:none;
  padding:10px;
  margin: 20px;
  border-radius: 10px;
}
