.edit-deck-back-button{
  color:black;
  background: url("card-background-green.png");
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition-duration: .3s;
}

.edit-deck-back-button:hover{
  transform: scale(1.1);
  background-color: white;
}

.select2-selection__choice__display {
  display: none;
}

#hidden_button_edit{
    border-radius: 10px;
  background: url("card-background-green.png");
  border:none;
  padding:10px;
}

// input{
//   border-radius: 10px;
//   background: url("card-background-green.png");
//   border:none;
//   padding:10px;
// }

