.edit-deck-back-button{
  color:black;
  background-color: lightgrey;
  border-radius: 5px;
  margin-top: 10px;
  margin-bottom: 10px;
  transition-duration: .3s;
}

.edit-deck-back-button:hover{
  transform: scale(1.1);
  background-color: white;
}
