#home-links{
  position:absolute;
  top: 50%;
  left: 50%;
  height: 50px;
  width: 200px;
  margin-top: -50px;
  margin-left: -100px;
  text-align:center;
  padding-top: 12px;
  border-radius:10px;
  border:2px solid white;
  transition: 0.3s;
}

#home-links:hover{
  transform: scale(1.1);
}

.box1{
  background-image: url("https://res.cloudinary.com/flashcard/image/upload/v1614869198/Landing-page%20background%20and%20logo/card-background-orange.png");
  background-size:cover;
  height:100vh;
  width:100vw;
}

  .box2{
  background-image: url("https://res.cloudinary.com/flashcard/image/upload/v1614869198/Landing-page%20background%20and%20logo/card-background-green.png");
  background-size:cover;
  height:100vh;
  width:100vw;
}

  .box3{
  background-image: url("https://res.cloudinary.com/flashcard/image/upload/v1614869198/Landing-page%20background%20and%20logo/card-background-blue.png");
  background-size:cover;
  height:100vh;
  width:100vw;
}

  .box4{
  background-image: url("https://res.cloudinary.com/flashcard/image/upload/v1614869198/Landing-page%20background%20and%20logo/card-background-orange.png");
  background-size:cover;
  height:100vh;
  width:100vw;
}

#welcome-back-message{
  position:absolute;
  top:30vh;
  left:50vw;
  margin-left: -243px;
  margin-top:44px;
  color:black;
  font-size: 32px;
}

#your-current-usage{
 position:absolute;
  top:50vh;
  left:50vw;
  margin-left: -100px;
  margin-top:67px;
  width: 200px;
  background-color:white;
  border-radius: 10px;
  padding:20px;
  border: 2px solid black;
  box-shadow: 2px 2px 4px $black;
  display:inline-block;
}

#your-current-usage h5, #your-current-usage > h7 {
  font-size: 16px;
}



