#main-content {
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("https://res.cloudinary.com/flashcard/image/upload/v1614869201/Landing-page%20background%20and%20logo/card-background-orange.png");
  background-position: center;
  background-size: cover;
  width: 100vw;
  display: inline-flex;
  justify-content: space-around;
  align-items: center;
  h4, h5 {
    font-family: 'Handlee', cursive;
  }
}

#page-content {
  // height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45%;
}

#page-content-title {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 45%;
  position: sticky;
  bottom: 0;
}

.more-info {
  background:url("https://res.cloudinary.com/flashcard/image/upload/v1614869197/Landing-page%20background%20and%20logo/card-background-blue.png");
  border: 2px solid black;
  box-shadow: 2px 2px 4px $black;
  border-radius: 10px;
  padding: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: fit-content;
  width: 90%;
  opacity: 0.9;
  margin: 30px 0;
  .indented {
    margin-left: 30px;
  }
  .indented-2 {
    margin-left: 60px;
  }
}

h1 {
  margin-top: 50px;
  font-size: 96px;
  padding-bottom: 20px;
  font-family: 'Handlee', cursive;
}

.logo {
  width: 350px;
  height: 250px;
  margin-bottom: 50px;
  }

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h3 {
    font-weight: bold;
    margin-bottom: 20px;
    font-family: 'Handlee', cursive;
    text-align: center;
  }
  .links {
    display: flex;
    flex-direction: column;
  }
  a {
    opacity: 0.9;
    color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 2px lightgrey;
    font-size: 30px;
    margin: 10px auto;
    padding: 5px 15px;
    width: fit-content;
  }

  a:hover {
    color: black;
    text-decoration: none;
    opacity: 1;
  }
}

