#main-content {
  background-image: linear-gradient(rgba(0,0,0,0),rgba(0,0,0,0)), url("background-slide");
  background-position: center;
  background-size: cover;
  height: 100vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1 {
  margin-top: 100px;
  font-size: 96px;
  padding-bottom: 20px;
}

.logo {
  width: 350px;
  height: 250px;
  margin-bottom: 30px;
  }

.content {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  h3 {
    font-weight: bold;
    margin-bottom: 20px;
  }
  .links {
    display: flex;
    flex-direction: column;
  }
  a {
    opacity: 0.9;
    color: white;
    border-radius: 20px;
    box-shadow: 2px 2px 2px lightgrey;
    font-size: 30px;
    margin: 10px;
    padding: 5px 15px;
  }
  // #sign-up {
  //   top: 170px;
  //   left: 320px;
  //   width: 200px;
  // }
  // #log-in {
  //   top: 230px;
  //   left: 320px;
  //   width: 200px;
  // }
  a:hover {
    color: black;
    text-decoration: none;
    opacity: 1;
  }
}

