.new-deck-name body {
  text-align: center;
}

.new-deck-container {
	width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.new-deck-function-row {
  border-radius: 10px;
  background-color:lightgrey;
  border:2px solid black;
  font-size: 20px;
  text-align: center;
}

#new-deck-function-row-middle {
  border-radius: 10px;
  background-color:lightgrey;
  border:2px solid black;
  text-align: center;
}

.new-deck-cards {
  width: 10px;
}

.new-deck-card {
  width: 10px;
}

.new-deck-buttons-container{
  display:flex;
  justify-content: space-around;
  padding-left: 180px;
  padding-right: 150px;
}

#new-deck-add-button {
  border-radius: 10px;
  background-color:lightgrey;
  border:2px solid black;
  font-size: 20px;
  transition: .2s;
  margin-bottom: 20px;
  text-align: center;
  justify-content: center;
}

#new-deck-confirm-button {
  margin-top: 15px;
  border-radius: 10px;
  background-color:lightgrey;
  border:2px solid black;
  font-size: 20px;
  transition: .2s;
  margin-bottom: 20px;
  text-align: center;
  margin-right: 50px;
}

#new-deck-delete-button {
  margin-top: 15px;
  border-radius: 10px;
  background-color:lightgrey;
  border:2px solid black;
  font-size: 20px;
  transition: .2s;
  margin-bottom: 20px;
  text-align: center;
  margin-right: 50px;
}

#new-deck-heading{
  margin-top: 15px;
  text-align:center;

}

#create-deck-button{
  background: url("https://res.cloudinary.com/flashcard/image/upload/v1614869197/Landing-page%20background%20and%20logo/card-background-green.png");
  border-radius: 10px;
  transition: .3s;
  width:100%;
  margin-top: 7%;
  font-weight: 600;
}


#create-deck-button:hover{
  transform: scale(1.1);
}

div.form-group, .string, .required, .deck_name{
  box-shadow: none;
  border-radius: 5px;
}

#create-deck-form{
  margin-top: 10vh;
  margin-bottom: 10vh;
  text-align: center;
}

#hidden_button_new {
  background: url("https://res.cloudinary.com/flashcard/image/upload/v1614869197/Landing-page%20background%20and%20logo/card-background-orange.png");
  border:none;
  padding:10px;
  margin: 20px;
  border-radius: 10px;
}

#create-deck-form label{
  display:block;
}


// .create-new-deck-box{
//   padding-top: 0;
//   border-radius: 10px;
//   margin-top: 10vh;
//   border: 2px solid lightgrey;
//   background: url("https://res.cloudinary.com/flashcard/image/upload/v1614869197/Landing-page%20background%20and%20logo/card-background-blue.png");

// }

#create-new-deck-box{
  margin-top: 10vh;
  align-items:center;
  border: 2px solid lightgrey;
  background: url("https://res.cloudinary.com/flashcard/image/upload/v1614869197/Landing-page%20background%20and%20logo/card-background-blue.png");
  border-radius: 10px;
}

#deck_name{
  width: 100%;
}

#deck_category_id{
  width: 100%;
}

#deck_category_name{
  width: 100%;
}
