#cards{
  background-color: red;
  margin:10px;
  padding:5px;
  border-radius: 5px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding-right: 20px;
  padding-left: 20px;
  transition-duration:0.3s;
  width:70%;
}

#delete-card-button{
  background: url("https://res.cloudinary.com/flashcard/image/upload/v1614869202/Landing-page%20background%20and%20logo/card-background.png");
  border-radius: 5px;
  padding: 0.325rem 0.675rem;
  margin: 10px;
  opacity: 0.8;
  text-align: center;
  border: 2px solid lightgrey;
  font-size: 15px;
}

#delete-card-button a{
  text-decoration: none;
  color: black;
}

#edit-card-button{
  background: url("https://res.cloudinary.com/flashcard/image/upload/v1614869196/Landing-page%20background%20and%20logo/card-background-blue.png");
  border-radius: 5px;
  padding: 0.325rem 0.675rem;
  margin: 10px;
  opacity: 0.8;
  text-align: center;
  border: 2px solid lightgrey;
  font-size: 15px;
}

#edit-card-button a{
  text-decoration: none;
  color: black;
}

.no-cards-content {
  text-align: center;
  margin: 150px auto;
  padding: 30px;
  width: 600px;
  border-radius: 5px;
  border: 2px solid black;
  box-shadow: 2px 2px 4px $black;
  background: url("https://res.cloudinary.com/flashcard/image/upload/v1614869196/Landing-page%20background%20and%20logo/card-background-orange.png");
}

.card-container{
  margin: 10px 10px 10px 0;
  padding: 13px 20px 5px 20px;
  background:url("https://res.cloudinary.com/flashcard/image/upload/v1614869201/Landing-page%20background%20and%20logo/card-background-orange.png");
  border-radius: 5px;
  display:flex;
  justify-content:space-between;
  align-items:start;
  flex-direction: column;
  transition-duration:0.3s;
  width:90%;
  opacity: 0.7;
}

.line-container-cards {
  display:flex;
  align-items: center;
  #edit-card-button, #delete-card-button {
    visibility: hidden;
  }
}

.line-container-cards:hover {
  display:flex;
  background-color: white;
  #edit-card-button, #delete-card-button {
    visibility: visible;
  }
  .card-container {
    opacity: 1;
  }
}
.card-answer-hide {
  visibility: hidden;
}

.show-card {
  visibility: visible;
}

.reveal-answers {
  margin-top: 15px;
  border-radius: 5px;
  background: url(https://res.cloudinary.com/flashcard/image/upload/v1614869197/Landing-page%20background%20and%20logo/card-background-green.png);
  border: 1px solid black;
  text-align: center;
  color: black;
  padding: 5px;
}

.reveal-answers:hover{
  text-decoration: none;
  color:black;
  transform: scale(1.1);
  background-color: white;
}

.buttons-card-index {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.card-container strong {
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
}

.card-search-button{
  background: url(https://res.cloudinary.com/flashcard/image/upload/v1614869197/Landing-page%20background%20and%20logo/card-background-green.png);
  border-radius: 5px;
  padding: 0.325rem 0.675rem;
  margin: 10px;
  opacity: 0.8;
  text-align: center;
  border: 2px solid lightgrey;
  font-size: 15px;
}
#edit-card-button:hover{
  background-color: lightgrey;
  transform: scale(1.1);
  border:1px solid black;
}

#delete-card-button:hover{
  background-color: lightgrey;
  transform: scale(1.1);
  border:1px solid black;
}
#card-search-button:hover{
  background-color: lightgrey;
  transform: scale(1.1);
  border:1px solid black;
}

.form-control, .select2 {
  display: inline;
  width: 85%;
  border-radius: 5px;

}
