#cards{
  background-color: red;
  margin:10px;
  padding:5px;
  border-radius: 5px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  padding-right: 20px;
  padding-left: 20px;
  transition-duration:0.3s;
  width:70%;

}

#delete-card-button{
  background: url("https://res.cloudinary.com/flashcard/image/upload/v1614869202/Landing-page%20background%20and%20logo/card-background.png");
  border-radius: 10px;
  padding: 10px;
  margin:10px;
}

#delete-card-button a{
  text-decoration: none;
  color: black;
}

#edit-card-button{
  background: url("https://res.cloudinary.com/flashcard/image/upload/v1614869196/Landing-page%20background%20and%20logo/card-background-yellow.png");
  border-radius: 10px;
  padding: 10px;
  margin:10px;
}

#edit-card-button a{
  text-decoration: none;
  color: black;
}

.no-cards-content {
  text-align: center;
  margin: 150px auto;
  padding: 30px;
  width: 600px;
  border-radius: 10px;
  border: 2px solid black;
  box-shadow: 2px 2px 4px $black;
  background: url("https://res.cloudinary.com/flashcard/image/upload/v1614869196/Landing-page%20background%20and%20logo/card-background-orange.png");
}

.card-container{
  margin: 10px 10px 10px 0;
  padding: 13px 20px 5px 20px;
  background:url("https://res.cloudinary.com/flashcard/image/upload/v1614869201/Landing-page%20background%20and%20logo/card-background-orange.png");
  border-radius: 5px;
  display:flex;
  justify-content:space-between;
  align-items:start;
  flex-direction: column;
  transition-duration:0.3s;
  width:90%;
}

.card-answer-hide {
  visibility: hidden;
}

.show-card {
  visibility: visible;
}

.reveal-answers {
  margin-top: 15px;
  border-radius: 5px;
  background: url(https://res.cloudinary.com/flashcard/image/upload/v1614869197/Landing-page%20background%20and%20logo/card-background-green.png);
  border: 1px solid black;
  text-align: center;
  color: black;
  padding: 5px;
}

.reveal-answers:hover{
  text-decoration: none;
  color:black;
  transform: scale(1.1);
  background-color: white;
}

.buttons-card-index {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
