#deck-search-header{
  margin-top:20px;
}

.deck-container{
  margin: 10px 10px 10px 0;
  padding: 13px 20px 5px 20px;
  background:url("https://res.cloudinary.com/flashcard/image/upload/v1614869201/Landing-page%20background%20and%20logo/card-background-orange.png");
  border-radius: 5px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  transition-duration:0.3s;
  width:90%;
  h5 {
    font-family: 'Dancing Script', cursive;
  }
}

.deck-container:hover{
}

.search-bar{
  margin-top:10px;
  margin-bottom:20px;
}

.study-now-container{
border: 1px solid black;
margin:10px;
border-radius: 5px;
display:flex;
align-items: center;
padding-left: 20px;
padding-right: 20px;
width: 16%;
justify-content: center;
background:url("https://res.cloudinary.com/flashcard/image/upload/v1614869197/Landing-page%20background%20and%20logo/card-background-green.png");
visibility:hidden;
}

.study-now-container:hover{
  background-color: lightgrey;
  transform: scale(1.1);
}
.line-container{
  display:flex;
}

.line-container:hover {
  .study-now-container {
    visibility: visible;
  }
}

.results-container{
  display:flex;
  justify-content:center;
}

#deck-search-button{
  margin-top:5px;
  color:black;
  border:black;
  border-radius:5px;
  background-color: lightgrey;
  transition-duration: .5s;
}

#deck-search-button:hover{
  transform:scale(1.1);
  background-color: white;
  border:1px solid black;
}

.study-now-container > a{
  text-decoration: none;
  color:black;
}

.back-to-dash-button{
  display:inline-block;
  transition-duration: .3s;
  padding: 5px;
  margin-top: 10px;
  border: 1px solid black;
  color:black;
  border-radius: 5px;
  background:url("https://res.cloudinary.com/flashcard/image/upload/v1614869197/Landing-page%20background%20and%20logo/card-background-orange.png");
}

.back-to-dash-button:hover{
  text-decoration: none;
  color:black;
  transform: scale(1.1);
  background-color: white;
}

.cards-icon {
  width: 24px;
  height: 24px;
  margin-bottom: 5px;
}

.username-avatar {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 8px;
  h5 {
    margin: 5px;
  }
  img {
    height: 35px;
    width: 35px;
  }
}
