#results-header{
  margin-top: 10px;
}

#link-container{
  background-color: lightgrey;
  display:flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.results-buttons{
  border: 1px solid black;
  border-radius: 10px;
  background-color: lightgrey;
  padding: 10px;
  color: black;
  margin-right: 20px;
  transition-duration: .3s;
  text-decoration: none;
  margin-top: 20px;
}

.results-buttons:hover{
  transform: scale(1.1);
  background-color: white;
  color: black;
  text-decoration: none;
}
.big-percent{
  font-size: 60px;
  text: 100px;
}
.results-in-con{
 oi:oi;
}
