#link-container {
  background-color: lightgrey;
  display:flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.results-buttons{
  color:black;
  background: url("https://res.cloudinary.com/flashcard/image/upload/v1614869201/Landing-page%20background%20and%20logo/card-background-orange.png");
  border-radius: 5px;
  margin-top: 2%;
  transition-duration: .3s;
  border: 2px solid black;
  box-shadow: 2px 2px 4px $black;
}

.results-buttons:hover{
  transform: scale(1.1);
  color: black;
  text-decoration: none;
}

.big-percent{
  font-size: 60px;
  text: 100px;
}

h3{
  text-align:center;
}

.display-message{
  text-align:center;
}

.retry-button{
  color:black;
  background: url("https://res.cloudinary.com/flashcard/image/upload/v1614869201/Landing-page%20background%20and%20logo/card-background-green.png");
  border-radius: 5px;
  transition-duration: .3s;
  width: 300px;
  border: 2px solid black;
  box-shadow: 2px 2px 4px $black;
}

.retry-button:hover{
  transform: scale(1.2);
  text-decoration: none;
  border: 3px solid black;
  box-shadow: 4px 4px 8px grey;
}

.results-in-con {
  background: url("https://res.cloudinary.com/flashcard/image/upload/v1614869201/Landing-page%20background%20and%20logo/card-background-blue.png");
  border: 2px solid;
  box-shadow: 2px 2px 4px $black;
  border-radius: 10px;
  padding: 30px;
}

.title-results {
  margin: 40px auto;
}

.results-box {
  display: flex;
  flex-direction: column;
  align-items:center;
}

.dash-buttons {
  display: flex;
  justify-content: space-around;
}

.fa-trophy {
  font-size:100px;
  color:gold;
}

.correct-table {
  background: url("https://res.cloudinary.com/flashcard/image/upload/v1614869201/Landing-page%20background%20and%20logo/card-background-green.png");
  border: 1px solid lightgrey;
  width: 6%;
  box-shadow: 2px 2px 2px lightgrey;
}

.incorrect-table {
  background: url("https://res.cloudinary.com/flashcard/image/upload/v1614869198/Landing-page%20background%20and%20logo/card-background.png");
  border: 1px solid lightgrey;
  width: 6%;
  box-shadow: 2px 2px 2px lightgrey;
}

.table-headers {
  text-align: center;
  padding: 5px;
  background: url("https://res.cloudinary.com/flashcard/image/upload/v1614869198/Landing-page%20background%20and%20logo/card-background-yellow.png");
}

.table-of-results {
  margin: 30px auto;
  border-radius: 10px;
  padding: 10px;
  box-shadow: 1px 1px 2px lightgrey;
  background-color: white;
  border: 1px solid lightgrey;
}

.table-row {
  padding: 5px;
}

.card-question-results {
  width: 40%;
  padding: 10px;
  background: url("https://res.cloudinary.com/flashcard/image/upload/v1614869201/Landing-page%20background%20and%20logo/card-background-blue.png");
}

.card-answer-results {
 width: 40%;
 padding: 10px;
}

// .card-question-results:nth-child(even) {
//   // opacity: 1;
//   background: url("https://res.cloudinary.com/flashcard/image/upload/v1614869201/Landing-page%20background%20and%20logo/card-background-blue.png");
// }

// .card-question-results:nth-child(odd) {
//   // opacity: 0.5;
//   background: url("https://res.cloudinary.com/flashcard/image/upload/v1614869201/Landing-page%20background%20and%20logo/card-background-green.png");
// }
