#link-container {
  background-color: lightgrey;
  display:flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}

.results-buttons{
  color:black;
  background: url("https://res.cloudinary.com/flashcard/image/upload/v1614869201/Landing-page%20background%20and%20logo/card-background-orange.png");
  border-radius: 5px;
  margin-top: 2%;
  transition-duration: .3s;
  border: 2px solid black;
  box-shadow: 2px 2px 4px $black;
}

.results-buttons:hover{
  transform: scale(1.1);
  color: black;
  text-decoration: none;
}

.big-percent{
  font-size: 60px;
  text: 100px;
}

h3{
  text-align:center;
}

.correct-cards{
  display: flex;
  justify-content: center;
  align-items: baseline;
  margin: 30px auto;
}

.previous, .first-previous, .second-previous, .answer-overall {
  display: grid;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
}

.display-message{
  text-align:center;
}

.retry-button{
  color:black;
  background: url("https://res.cloudinary.com/flashcard/image/upload/v1614869201/Landing-page%20background%20and%20logo/card-background-green.png");
  border-radius: 5px;
  transition-duration: .3s;
  width: 300px;
  border: 2px solid black;
  box-shadow: 2px 2px 4px $black;
}

.retry-button:hover{
  transform: scale(1.2);
  text-decoration: none;
  border: 3px solid black;
  box-shadow: 4px 4px 8px grey;
}

.results-in-con {
  background: url("https://res.cloudinary.com/flashcard/image/upload/v1614869201/Landing-page%20background%20and%20logo/card-background-blue.png");
  border: 2px solid;
  box-shadow: 2px 2px 4px $black;
  border-radius: 10px;
  padding: 30px;
}

.title-results {
  margin: 40px auto;
}

.results-box{
  display: flex;
  flex-direction: column;
  align-items:center;
}

.dash-buttons{
  display: flex;
  justify-content: space-around;
}

.previous-correct-cards-container{
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid black;
  box-shadow: 1px 1px 2px lightgrey;
  width: 60%;
  margin: 30px;
  background: url("https://res.cloudinary.com/flashcard/image/upload/v1614869201/Landing-page%20background%20and%20logo/card-background-green.png");
  display: flex;
  flex-direction: column;
}

.previous-incorrect-cards-container{
  padding: 10px;
  border-radius: 10px;
  background-color: white;
  border: 1px solid black;
  box-shadow: 1px 1px 2px lightgrey;
  width: 60%;
  margin: 30px;
  background: url("https://res.cloudinary.com/flashcard/image/upload/v1614869198/Landing-page%20background%20and%20logo/card-background.png");
  display: flex;
  flex-direction: column;
  justify-content:space-between;
}

#results-header, #answers-header {
  font-size:22px;
  margin-top: 10px;
  text-align: center;
}

#previous-results-header{
  font-size:22px;
}
.fa-trophy{
  font-size:100px;
  color:gold;
}

.answer-cards-container{
  padding: 10px;
  border-radius: 10px;
  border: 1px solid black;
  box-shadow: 1px 1px 2px lightgrey;
  width: 60%;
  margin: 30px;
  background: url("https://res.cloudinary.com/flashcard/image/upload/v1614869201/Landing-page%20background%20and%20logo/card-background-blue.png");
}
