#results-header{
  margin-top: 10px;
}

#link-container{
  background-color: lightgrey;
  display:flex;
  justify-content: space-around;
  padding-top: 10px;
  padding-bottom: 10px;
  border-radius: 10px;
}
