<div class="footer">
  <div class="container">

  <!--   Social Links -->
    <div class="links-container">
      <a href=""><i class="fab fa-facebook-square"></i></a>
      <a href="https://github.com/jonathansimpson101/flashcards"><i class="fab fa-github-square"></i></a>
      <a href=""><i class="fab fa-instagram-square"></i></a>
    </div>

  <!-- Message -->
    <div class="message">
      <p>This website was created by: <a href="https://github.com/JamesWordie" class="name name1">James Wordie</a>, <a href="https://github.com/Elgonzo422" class="name name2">Matt Vile</a>, <a href="https://github.com/arenatofte" class="name name3">Per Jensen</a> and <a href="https://github.com/jonathansimpson101" class="name name4">Jonathan Simpson.</a href=""></p>
    </div>

  </div>
</div>
