<div class="navbar">
  <div class="navbar-logo">
    <%= link_to root_path do %>
      <i class='fas fa-home' id='home'></i>
    <% end %>

    <% if !user_signed_in? %>
      <%= link_to "Login", new_user_session_path, class: "btn" %>
      <%= link_to "Sign up", new_user_registration_path, class: "btn" %>
    <% end %>

  </div>
</div>