<% @first_six_decks.each do |deck| %>
  <div class="recently-played-card">
    <h3> <%= deck.name %> </h3>
    <div class="details-box">
      <div class="progress">
        <p>You are making good progress!</p>
      </div>
      <div class="card-count">
        <%= deck.cards.count  %>
      </div>
    </div>
  </div>
<% end %>
