<% @first_six_decks.each do |deck| %>
  <div class="recently-played-card">
    <h3> <%= link_to deck.name, deck_path(deck) %> </h3>
    <div class="details-box">
      <div class="card-count">
        <p>Number of cards:<%= deck.cards.count %></p>
        <p>Made by: <%= deck.user.first_name %></p>
      </div>
    </div>
  </div>
<% end %>
