<div class="container">
  <div class="row justify-content-center">
    <div class="col-6" id="card-edit-form">
      <%= simple_form_for(@card) do |f| %>
      <%= f.input :question %>
      <%= f.input :answer %>
      <span class="card-edit-btn">
        <%= f.submit %>
      </span>
      <% end %>
    </div>
  </div>
</div>
