.footer {
  align-items:center;
  background-color: white;
  height:120px;

  background-color: lightgrey;
  padding:38px;
}

.links-container{
  display:flex;
  justify-content:center;
  align-items:center;
}

.links-container a i {
  margin-left: 30px;
  margin-right:30px;
  height:20px;
  color:black;
  margin-bottom: 20px;
  transition: .3s;
}

.links-container a i:hover {
  color:black;

  transform: scale(1.7);
}

.message{
  display:flex;
  justify-content:center;
  text-align: center;
}

.message > p {
  text-align:center;
  opacity: 0.7;
  font-size: 10px;
}

a.name{
  font-weight:bold;
  opacity: 0.7;
  font-size: 10px;
  transition-duration:0.3s;
  text-decoration: none;
  color:black;
}

a.name:hover{
  opacity:1;
  transform: scale(1.7);
}

a.name1:hover{
  color:pink;
}

a.name2:hover{
  color:green;
}

a.name3:hover{
  color:orange;
}

a.name4:hover{
  color:red;
}
