.navbar-set {
  justify-content: space-between;
  background:url("https://res.cloudinary.com/flashcard/image/upload/v1614869196/Landing-page%20background%20and%20logo/card-background-yellow.png");
  display: inline-flex;
  width: 100%;
  padding: 15px 25px 0 25px;
  border-bottom: 2px solid grey;
}

.navbar-nav-1 {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-collapse-1 {
  visibility: visible !important;
  display: block !important;
}

.navbar-set .navbar-logo img {
  width: 50px;
  justify-content: space-around;
}

.nav-item :hover{
  cursor:pointer;
}
