.navbar-set {
  justify-content: space-between;
  background: white;
  display: inline-flex;
  width: 100%;
  padding: 15px 25px 0 25px;
}

.navbar-nav-1 {
  list-style: none;
  display: flex;
  flex-direction: row;
  align-items: center;
}

.navbar-collapse-1 {
  visibility: visible !important;
}

.navbar-set .navbar-logo img {
  width: 50px;
  padding-top: 10px;
}

