#card-study-page {
  display:flex;
  justify-content: center;
  height: 100vh;
}

.card-main {
  width: 650px;
  height: 650px;
  margin: 20px auto;
  padding: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  transform-style: preserve-3d;
  transition: all 0.5s ease;
  box-shadow: 2px 2px 2px lightgrey;
  border: 1px solid black;
  border-radius: 10px;
  background:url("https://res.cloudinary.com/flashcard/image/upload/v1614869201/Landing-page%20background%20and%20logo/card-background-blue.png");
  .card-question, .attempt, .card-answer {
    padding: 30px;
    box-shadow: 1px 1px 2px lightgrey;
    margin: 10px 15px;
    background-color: white;
    border-radius: 10px;
    border: 1px solid black;
  }
}

.form-group {
  margin: 30px 15px;
  box-shadow: 1px 1px 2px lightgrey;
}

.counter {
  width: 650px;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
}

.button-correct {
  margin: 50px auto;
  display: flex;
  justify-content: space-around;
  font-size: 42px;
  padding-top: 10px;
  i {
    margin: 0 30px;
    font-size: 36px;
  }
}

.answer-side {
  transform: rotateY(180deg);
  position: absolute;
  margin-top: 30px;
  width: 80%;
}

.attempt-side {
  position: absolute;
  margin-top: 120px;
  width: 80%;
}

.flipCard {
  transform: rotateY(-180deg);
}

.hideCard {
  visibility: hidden;
}

.card-total, .card-completed {
  border: 1px solid black;
  padding: 15px 30px 10px 30px;
  box-shadow: 1px 1px 2px lightgrey;
  border-radius: 10px;
  background:url("https://res.cloudinary.com/flashcard/image/upload/v1614869201/Landing-page%20background%20and%20logo/card-background-green.png");
  h6 {
    font-size: 24px;
  }
}

#score_count, #score_count_total {
  text-align: center;
}

.green-text {
  color: green;
}

.question-answer-underline {
  margin-left: 20px;
  font-family: 'Dancing Script', cursive;
  font-size: 24px;
}

.quote-answer-underline {
  font-size: 14px;
  margin: -15px 0 0 20px;
  text-align: center;
}

.form-group > textarea {
  width: 100%;
}
