#card {
  width: 650px;
  height: 500px;
  margin: 25px auto;
  padding: 25px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: relative;
  transform-style: preserve-3d;
  transition: all 0.2s ease;
  box-shadow: 2px 2px 2px lightgrey;
  .card-question, .card-attempt, .card-answer {
    padding: 10px;
    box-shadow: 1px 1px 2px lightgrey;
  }
}

.counter {
  width: 650px;
  display: flex;
  justify-content: space-between;
  margin: 40px auto;
}

.button-correct {
  margin: 0 auto;
  i {
    margin: 0 30px;
    font-size: 36px;
  }
}

.answer-side {
  transform: rotateY(180deg);
}

.flipCard {
  transform: rotateY(-180deg);
}

.hideCard {
  visibility: hidden;
}
