<% if @deck.scores.where(user: current_user).size > 2 %>
  <% @score = @deck.scores.where(user: current_user)[-3].card_scores.find_by(card_id: score.card.id) %>
  <% if @score.correct %>
    <td class='correct-table'>CORRECT</td>
  <% else %>
    <td class='incorrect-table'>INCORRECT</td>
  <% end %>
<% end %>
