<div class="container">
  <h3 id="results-header"> Results for <%= @deck.name %></h3>

  <div id="link-container">
    <%= link_to "Dashboard", dashboard_path %>
    <%= link_to "Deck Overview Page", deck_path(@deck) %>
  </div>
</div>
